  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LoreTriends</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
<style>
.salir{
  margin-left:50%;
}
.hola{
  margin-left:5%;
}
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="hola">
    <a class="navbar-brand" href="/">Inicio</a>
    <a class="navbar-brand" href="/Clientes">Clientes</a>
    <a class="navbar-brand" href="/Inventario">Inventario</a>
    <a class="navbar-brand" href="/Proovedores">Proovedores</a>
    <a class="navbar-brand" href="/Facturacion">Facturacion</a>
  </div>
  </nav>
<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Entrar</h3>
        </div>
        <!-- <img src="/img/logo.png" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50"> -->
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="Usuario" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Clave" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              Ingresar
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
